<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/index-style.css">
</head>
<body class="bg-warning">
<div class="shop-sign"><img src="/images/shop-sign.png"></div>
	<h1 style="text-align:center">商品修改页面</h1>
	<div class="container">
		<div class="row col-md-6 col-md-offset-3">
			<form method="POST" 
				  action="/shops/update" 
				  enctype="multipart/form-data">
			  <div class="form-group">
			    <label for="title">商品名称</label>
			    <input type="text" required name="title" class="form-control" id="title" value="<%=book.title%>" placeholder="名称">
			  </div>
			  <div class="form-group">
			    <label for="price">商品价格</label>
			    <input type="number" step="0.01" required  name="price" class="form-control"  value="<%=book.price%>" id="price" placeholder="价格">
			  </div>
			   <div class="form-group">
			    <label for="num">商品库存数量</label>
			    <input type="number"  step="1" required name="num" class="form-control" id="num" value="<%=book.num%>" placeholder="数量">
			  </div>
			  <div>
			    <p>图片预览:</p>
			  	<img 
			  	src="/images/<%=book.img%>" 
			  	style="width:150px" 
			  	alt="">
			  </div>
			  <div class="form-group">
			    <label for="image">提交修改的图片</label>
			    <input type="file"  name="modifyimage" id="image">
			    <p class="help-block">暂时支持上传一张照片</p>
			  </div>
			  <input type="text" name="_id" hidden value="<%=book._id%>">
			  <input type="text" name="img" hidden value="<%=book.img%>">
			  <button type="submit" class="btn btn-default  btn-success">修改提交</button>
			  <a href="/shops/"  class="btn btn-info">返回后台首页</a>
			</form>
		</div>
	</div>
</body>
</html>